<main>
    <section id="hero">
        <h1>About Project</h1>

        <p>The main goal of <strong>TravelR</strong> is to be like a bonfire place where you are welcome<br />
            to share the magic of your journeys all over the world through the art of photography.</p>

        <p>The application is designed and inmplemented according to the project defense assignment.<br />
            It has public and private parts.

        <p>The public part is visible without authentication and includes the home, catalogue,<br />
            and about pages, login and register forms and search functionality.</p>

        <p>The private part is only for registered users and it is accessible only after successful login.<br />
            It contains the user profile page that holds all user's logs and the functionality to edit the user's
            info.<br />
            Logged in users can create, edit and delete their logs and have the options to like, comment and download
            the photos.
        </p>

        <p>The client-side is build with Angular. The main feature of the application is fully working CRUD operations
            with image files.

        <p>The server is a RESTful API that is build with Node.js and Express.js.</p>

        <p>MongoDB with Mongoose is used for storing and managing the data.</p>

        <p><a href="https://github.com/AbyssKnight7aken/travelr" target="_blank" rel="noopener noreferrer">Visit project's Github page for more info</a>  </p>


    </section>


</main>